@page "/"

<PageTitle>Home</PageTitle>


<div class="container mt-auto mb-auto d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="row">
        <div class="col ">
            <h1>RowingWeb</h1>
            <h3> Bienvenido/a!!!.</h3>
        </div>
    </div>
</div>



